    <section class="copyright" style="margin-top: 10px">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p>
                    <a href="#">facebook</a>
                    <span>|</span>
                    <a href="#">twitter</a>
                    <span>|</span>
                    <a href="#">google</a>
                    <span>|</span>
                    <a href="#">instagram</a>
                    <span>|</span>
                    <a href="#">email</a>
                    <span>|</span>
                    <a href="#">contact</a>
                    </p>

                    <p>
                    Copyright © reddeer. All Rights Reserved.
                    </p>
                </div>
            </div>
            <!-- / .row -->
        </div>
    </section>
