<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load gravatar %}
{% load bootstrap %}
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    {% block title %}
         <title>profile de {{ user.username }}</title>
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    {% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
        {% if user %}
            <div class="row">
                <div class="col-md-3">
                    <div class="text-center" style="margin-top: 20px">
                        <ul class="sidebar-list">
                            <li class="sidebar-item">
                                <h3> Edit Profile</h3>
                            </li>
                            <hr>
                        </ul>
                        <div style="margin-top: 20px">
                            {% if user.socialaccount_set.all.count %}
                                <img width="200" height="300" class="img-thumbnail" src="{{ user.socialaccount_set.all.0.get_avatar_url }}"/>
                            {% else %}
                                <img width="200" height="300" class="img-thumbnail" src="{% gravatar_url user.email 300 %}"/>
                            {% endif %}
                        </div>
                    <div style="margin-top: 20px">
                         <a class="btn btn-default" href="{% url 'public_profile' user.id %}"> View My Profile </a>
                    </div>
                    </div>
                </div>
                <div class="col-md-9 ">
                    <div class="panel panel-default" style="margin-top: 20px">
                        <div class="panel-heading text-center"
                             style="font-size: large;margin-bottom: 10px">{{ user.username|capfirst }} Profile
                        </div>
                        <div class="panel-body">
                            <form class="login" style="margin: auto" method="post" action="">{% csrf_token %}
                                {{ form|crispy }}
                                <div class="text-center">
                                    <input type="submit" class="btn btn-primary" value="Update">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


{#            <p>Following is the Extra information that facebook has provided to allauth:</p>#}
{#            {% for account in user.socialaccount_set.all %}#}
{#                <h2 style="text-transform:capitalize;">{{ account.provider }} account data</h2>#}
{#                <p><img width="50" height="50" src="{{ account.get_avatar_url }}" /></p>#}
{#                <p>UID: <a href="{{account.extra_data.link }}">{{ account.uid }}</a></p>#}
{#                <p>Username: {{ account.extra_data.username }}</p>#}
{#                <p>First Name: {{ account.extra_data.first_name }}</p>#}
{#                <p>Last Name: {{ account.extra_data.last_name }}</p>#}
{#                <p>Profile Link: <a href="{{ account.extra_data.link }}">{{ account.extra_data.link }}</a></p>#}
{#            {% endfor %}#}
        {% endif %}
    {% endblock %}
</body>
</html>