<!DOCTYPE html>
<html lang="en">
{% extends 'room_base.html' %}
{% load bootstrap %}
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Edit bathroom</title>
    {% endblock %}
</head>
<body>
{% block form_name %}How many bathrooms?{% endblock %}
{% block form_content %}
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                {{ form.num_bathroom|bootstrap }}
            </div>
        </div>
    </div>
    <div class="">
        <a href="{% url 'bedrooms' room_id %}" class="btn btn-default"> Back </a>
        <input type="submit" class="btn btn-primary" value="Next">
    </div>
{% endblock %}
</body>
</html>