<!DOCTYPE html>
<html lang="en">
{% extends 'room_base.html' %}
{% load bootstrap %}
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Edit home type</title>
    {% endblock %}
</head>
<body>
{% block form_name %}What kind of place you are listing?{% endblock %}
{% block form_content %}
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                {{ form.room_type|bootstrap }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form.home_type|bootstrap }}
            </div>
        </div>
    </div>
    <div class="">
        <a href="{% url 'room_section' room_id %}" class="btn btn-default"> Back </a>
        <input type="submit" class="btn btn-primary" value="Next">
    </div>
{% endblock %}
</body>
</html>