<!DOCTYPE html>
<html lang="en">
{% extends 'room_base.html' %}
{% load bootstrap %}
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Edit location with map</title>
    {% endblock %}
</head>
<body>
{% block form_name %}Where is your exact place?{% endblock %}
{% block form_content %}
    <div class="row">
        <div class="col-md-6">
            <div id="map" style="width: 100%; height: 500px"></div>
            <h5>Drag pin to change location.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'location' room_id %}" class="btn btn-default"> Back </a>
            <input id="submit" class="btn btn-primary" value="Next">
        </div>
    </div>
{% endblock %}
    {% block js %}
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyCueh7NkqVaoXCd6EjOh7s5v3WuBEhy3_M&amp;language=en"></script>
        <script src="{% static 'js/jquery.geocomplete.js' %}"></script>
        <script>
            $(function(){
                var lat, lng;
                var url = window.location.pathname;
                console.log(url);
                $.ajax({
                    type: 'GET',
                    url: url+'map/',
                    success: function(response){
                        console.log(response);
                        lat = response["latlng"][0];
                        lng = response["latlng"][1];
                        $('#map').geocomplete({
                            map: '#map',
                            location: response["latlng"],
                            types: ["geocode"],
                            markerOptions: {
                                draggable: true
                            }
                        }).bind("geocode:dragged", function(event, result){
                            lat = result.lat();
                            lng = result.lng();
                            console.log(result.lat());
                            console.log(result.lng());
                        });
                    }
                });
                $('#submit').click(function(){
                    $.ajax({
                        type: 'POST',
                        url: url+'map/',
                        data:{
                            lat: lat,
                            lng: lng,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(){
                            console.log("success");
                            var s = url.replace('location','amenities');
                            window.location.href= s;
                        }
                    })
                });
            });
        </script>
    {% endblock %}
</body>
</html>