<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Become a Host and Rent Out Your Room, House or Apartment</title>
</head>
<body>
    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1>Become an host</h1>
                    <ul>
                        <li>STEP 1</li>
                        <li>Start with the basics</li>
                        <li>Beds, bathrooms, amenities, and more</li>
                        <li><button class="btn btn-default">Continue</button></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li>STEP 2</li>
                        <li>Set the scene</li>
                        <li>photos, short description, title</li>
                        <li><button class="btn btn-default">Continue</button></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li>STEP 3</li>
                        <li>Get ready for guests</li>
                        <li>Booking settings, calender, price</li>
                        <li><button class="btn btn-default">Continue</button></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>