<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load bootstrap %}
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>room list</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/room_style.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
        <div style="padding-top: 20px"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="sidebar-list">
                        <li class="sidebar-item">
                            <a class="sidebar-link {% if render_view == 'room_list_view.html' %}active{% endif %}"
                               href="{% url 'rooms_list' %}">Your Listing</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link {% if render_view == 'reservation_list_view.html' %}active{% endif %}"
                               href="{% url 'reservation_list' %}">Your Reservations</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link {% if render_view == 'trip_list_view.html' %}active{% endif %}"
                               href="{% url 'trip_list' %}">Your Trips</a>
                        </li>
                    </ul>
                    <a href="{% url 'become_a_host' %}" class="btn btn-success" style="width: 150px">Add a listing</a>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Listing</h3>
                        </div>
                        <div class="panel-body">
                            {% include render_view %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block js %}
        <script type="text/javascript">
            $(document).ready(
                $('.delete').each(function (index) {
                    $(this).click(function (e) {
                        console.log($(this).attr('data-delete'));
                        e.preventDefault();
                        $.ajax({
                            type: 'DELETE',
                            url: $(this).attr('data-delete') + '/',
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                            },
                            success: function (data) {
                                $('.panel-body').html(data)
                            }
                        })
                    })
                })
            );
            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1);
                    if (c.indexOf(name) == 0)
                        return c.substring(name.length, c.length);
                }
                return "";
            }
        </script>
    {% endblock %}
</body>
</html>