<!DOCTYPE html>
<html lang="en">
{% extends 'room_base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Room creating</title>
    {% endblock %}
</head>
<body>
{% block form_name %}What kind of place do you have?{% endblock %}
{% block form_content %}
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                {{ form.room_type|bootstrap }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form.accommodate|bootstrap }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form.city_country|bootstrap }}
            </div>
        </div>
    </div>
    <div class="">
        <input type="submit" class="btn btn-primary" value="Create a room">
    </div>
{% endblock %}
    {% block js %}
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyCueh7NkqVaoXCd6EjOh7s5v3WuBEhy3_M&amp;language=en"></script>
        <script src="{% static 'js/jquery.geocomplete.js' %}"></script>
        <script>
            $(function(){
                $('input').geocomplete({
                    types: ["(regions)"]
                });
            })
        </script>
    {% endblock %}
</body>
</html>